body {
    width: 980px;
    background: turquoise;
}
h1 {
    width: 40%;
    background: orangered;
    color: aliceblue;
    height: 50px;
}
.card {
    width: 500px;
    height: 380px;
    background: wheat;
}
 p { 
color: green;
}  
.raw {
    width: 380px;
} 
.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.crystal {
    border: 1px solid purple;
    width: 280px;
    height: 180px;
}