body {
    width: 980px;
    background: turquoise;
}
h1 {
    width: 40%;
    background: orangered;
    color: aliceblue;
    height: 50px;
}
.card {
    width: 500px;
    height: 380px;
    background: lightgreen;
}
 p { 
color: green;
}  


